<link rel="import" href="../bower_components/polymer/polymer.html"/>
<link rel="import" href="../bower_components/core-ajax/core-ajax.html"/>

<polymer-element name="my-element" noscript>
    <template>
        <span>Hello from <b>my-element</b>. This is my Shadow DOM.</span>
        <br/>
        <core-ajax
                auto
                url="../json/data.json"
                response="{{resp}}">
        </core-ajax>
        <textarea value="{{resp}}"></textarea>
    </template>

    <script>
        Polymer("my-element", {
            ready: function() {
                //..
            }
        });
    </script>
</polymer-element>